<main>

  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{user.username}}!</h2>
      <h3>These are your top rated picks!</h3>

      {{#if ratings}}
        {{#each ratings}}
        <section>
          <div class="card">
            <img src="{{this.articleimg}}" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">{{this.articletitle}}</h5>
              <p class="card-text">{{this.articledescription}}</p>
              <p>Rating: {{this.starrating}} stars</p>
              <a href="{{this.articleurl}}" class="btn btn-primary" target="_blank">
                Read More
              </a>
            </div>
          </div>
        </section>
        {{/each}}
      {{else}}
        <p>No top rated articles yet.</p>
      {{/if}}
    </div>
  </div>
</main>