<main>

  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{userName}}!</h2>
      <h3>These are your top rated picks!</h3>

      {{#if dataRating}}
        {{#each dataRating}}
          <section>
            <div class="card">
              <img src="{{articleimg}}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">{{articletitle}}</h5>
                <p class="card-text">{{articledescription}}</p>
                <p>Rating: {{starrating}} stars</p>
                <a
                  href="{{articleurl}}"
                  class="btn btn-primary"
                  target="_blank"
                >
                  Read More
                </a>
              </div>
            </div>
          </section>
        {{/each}}
      {{else}}
        <p>No top rated articles yet.</p>
      {{/if}}
    </div>
  </div>
</main>